#sites {
  width: 1200px;
  padding: 20px;
}
#sites h1 {
  margin-bottom: 8px;
}
.site,
.site a,
.site a img {
  width: 100%;
}

/* mobile */
@media (max-width: 599px) {
  #sites {
    width: 320px;
  }
  .site a img {
    width: 280px;
  }
}

/* tablet (portrait) */
@media (min-width: 600px) {
  #sites {
    width: 560px;
  }
  .site a img {
    width: 448px;
  }
}

/* tablet (landscape)*/
@media (min-width: 900px) {
  #sites {
    width: 560px;
  }
  .site a img {
    width: 448px;
  }
}

/* desktop */
@media (min-width: 1200px) {
  #sites {
    width: 1200px;
  }
  .site a img {
    width: 448px;
  }
}