/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  margin: 0 auto 0 auto;
  font-size: 10px;
}
body {
  width: 100%;
  margin: inherit;
  text-align: center;
  font-family: Arial, sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 1280px;
  margin: inherit;
  padding-top: 20px;
}
*/

#web {
  padding: 20px;
}

.web-articles-categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  max-width: 960px;
}

.fundamentals {
  order: 1;
}

.languages {
  order: 2;
}

.tools {
  order: 3;
}

.fundamentals,
.languages,
.tools {
  width: 280px;
  margin: 20px auto 0 auto;
}

.topic a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  height: 112px;
  margin: 0 auto 10px auto;
  border: 1px solid #fff;
  padding: 5px;
  background-color: #fff;
}

.topic a:hover,
.topic a:active {
  border-color: #aaa;
  cursor: pointer;
  cursor: hand;
}

.topic_image,
.topic_title {
  display: block;
  width: 100px;
  height: max-content;
}

/*.topic_title {
  
}*/

h1 {
  margin: 0 auto 16px auto;
}

h2 {
  margin-bottom: 8px;
}

img {
  margin: 0 auto 0 auto;
}

/*p {

}*/



/* mobile */
@media (max-width: 599px) {
  #web {
    width: 100%;
    margin: 0 auto;
  }
}

/* tablet (portrait) */
@media (min-width: 600px) {

}

/* tablet (landscape)*/
@media (min-width: 900px) {

}

/* desktop */
@media (min-width: 1200px) {
  
}
