.articles {
  width: 300px;
  padding: 20px;
}

.topic a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  height: 112px;
  margin: 0 auto 10px auto;
  border: 1px solid #fff;
  padding: 5px;
  background-color: #fff;
}
.topic a:hover,
.topic a:active {
  border-color: #aaa;
  cursor: pointer;
  cursor: hand;
}
.topic_image,
.topic_title {
  display: block;
  width: 100px;
  height: max-content;
}