#thumbs {
  width: 482px;
  padding: 20px;
}
#thumbs a {
  text-decoration: none;
}
#thumbs h1 {
  margin-bottom: 8px;
}
.thumb {
  margin-bottom: 40px;
  border: 1px solid #000;
  padding: 10px 0;
  background-color: #000;
  color: #ddd;
}
.thumb span {
  display: block;
  width: max-content;
  margin: 0 auto;
  font-style: italic;
  font-weight: 900;
}
.thumb img {
  display: block;
  margin: 0 auto;
  padding-bottom: 4px;
}
.thumb:hover,
.thumb:active {
  color: rgb(209, 166, 24);
  background-color: #2b2b2b;
  cursor: pointer;
  cursor: hand;
}

/* mobile */
@media (max-width: 599px) {
  #thumbs {
    width: 100%;
  }
  .thumb {
    width: 100%;
    padding: 10px 0;
  }
  .thumb a {
    width: 100%;
  }
}

/* tablet (portrait) */
@media (min-width: 600px) {
  #thumbs {
    width: 482px;
  }
}

/* tablet (landscape)*/
@media (min-width: 900px) {
  #thumbs {
    width: 482px;
  }
}

/* desktop */
@media (min-width: 1200px) {
  #thumbs {
    width: 482px;
  }
}